@font-face {
  font-family: 'Open sans';
  src: url('../fonts/opensans.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Open sans';
  src: url('../fonts/opensansbold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Open sans';
  src: url('../fonts/opensanssemibold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Open sans';
  src: url('../fonts/opensansitalic.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
