//переменные

//цвета
$color_black:#000;
$color_white:#fff;
$color_0_4black:rgba(0, 0, 0, 0.4);
$color_C283F3:#C283F3;
$color_7943A4:#7943A4;
$color_9D5CD0:#9D5CD0;
$color_333:#333;
$color_999:#999;
$color_CACACA:#CACACA;
$color_B7B7B7:#B7B7B7;
$color_666:#666;
$color_E5E5E5:#E5E5E5;



//размер шрифта
$fz_12px:12px;
$fz_18px:18px;
$fz_14px:14px;
$fz_16px:16px;
$fz_18px:18px;
$fz_48px:48px;
$fz_24px:24px;

//
$lh_16:16px;
$lh_19:19px;
$lh_25:25px;
$lh_20:20px;
$lh_32:32px;
$lh_65:65px;