@import './components/header';
@import './components/hero';

@media (max-width:1520px) {
  .container {
    max-width: 1370px;
  }

  /***************************header***************************/

  .menu_margin-right {
    margin-right: 50px
  }

  .drop-menu__list {
    gap: 20px 72px;
  }

  .menu__item_margin-right:not(:last-child) {
    margin-right: 32px;
  }
}

@media (max-width:1400px) {
  .container {
    max-width: 1180px;
  }

  /***************************header***************************/
  .sub-menu {
    border-bottom: 30px solid rgba(0, 0, 0, 0);
    border-top: 30px solid rgba(0, 0, 0, 0);
    min-width: 160px;
    max-height: 250px;
    padding: 0 30px;
  }

  .drop-menu__list {
    gap: 20px 52px;
  }

  .menu_margin-right {
    margin-right: 0;
  }
}

@media (max-width:1200px) {
  .container {
    max-width: 955px;
  }

  /***************************header***************************/
  .navigation__logo {
    transform: translateX(-5px);
  }

  .header__overlay,
  .navigation__menu,
  .navigation__login {
    display: none;
  }

  .burger-icon {
    width: 36px;
    height: 28px;
    fill: white
  }

  .navigation__burger-icon,
  .navigation__search-open {
    display: block;
  }

  .navigation__search-form {
    display: flex;
  }

  .search-form_background-grey {
    background-color: #18171B;
  }

  .search-form__icon_size-middle,
  .search-open__icon_size-middle,
  .search-form__close-btn {
    width: 26px;
    height: 26px;
  }

  .search-form__close-btn {
    margin-left: 8px;
  }

  .search-open,
  .search-form__close-btn_transform-y {
    fill: $color_white;
  }

  .search-form__icon_transform-y,
  .search-form__input_transform-y,
  .search-form__close-btn_transform-y {
    transform: translateY(4px);
  }

  .search-form_padding-bottom {
    padding-bottom: 7px;
  }

  .search-form__label {
    &::before {
      bottom: 0;
    }
  }

  .navigation__search-form {
    position: absolute;
    right: 0;
  }

  .menu_template-row {
    grid-template-rows: repeat(7, auto);
  }

  .burger {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 10;
    padding-top: 96px;
    overflow: auto;
    padding-bottom: 51px;
    ;
  }

  .burger__close {
    width: 36px;
    height: 29px;
    position: absolute;
    top: 36px;
    fill: $color_white;
  }

  .burger__container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  .burger__menu {
    flex: 1 1 auto;
    z-index: 11;
  }

  .menu__link {
    @include font-style (600, $fz_24px, $lh_65);
  }

  .burger__login {
    align-self: flex-start;
  }

  .login_border {
    border-radius: 100px;
    border: 2px solid $color_9D5CD0;
  }

  .login_padding {
    padding: 14px 91px 17px;
  }

  .scroll-hidden {
    overflow: hidden;
  }

  /***************************hero***************************/

  .hero__desc {
    max-width: 661px;
    margin-bottom: 132px;
  }

  .hero__content {
    padding-top: 103px;
  }

  .hero {
    min-height: 668px;
  }

  .hero__lead {
    margin-bottom: 13px;
  }
}

@media (max-width:1023.98px) {
  .container {
    max-width: 698px;
  }

  /***************************header***************************/

  .search-form__icon_size-middle,
  .search-open__icon_size-middle,
  .search-form__close-btn {
    width: 27px;
    height: 27px;
  }

  .search-form_min-width {
    min-width: 100%;
  }

  .search-form__input_min-width {
    min-width: 100%;
  }

  .navigation__search-form {
    background-color: black;
    height: 99%;
    align-items: center;
  }

  .search-form__label {
    width: 100%;

    &::before {
      bottom: -6px;
    }
  }
}

@media (max-width:767.98px) {
  .container {
    max-width: 100%;
  }

  /***************************header***************************/

  .header__navigation {
    padding: 9px 0 11px;
  }

  .navigation__logo {
    transform: translate(-3px, 2px);
  }


  .search-form__icon_size-middle,
  .search-open__icon_size-middle,
  .search-form__close-btn {
    width: 18px;
    height: 18px;
  }

  .burger-icon,
  .burger__close {
    width: 25px;
    height: 18px;
  }

  .burger__close {
    top: 13px;
  }

  .burger {
    padding-top: 46px;
  }

  .menu__link {
    @include font-style (600, $fz_16px, $lh_32);
  }

  .burger__login {
    margin-bottom: 27px;
  }

  .login_padding {
    padding: 11px 32px 11px;
  }

  .burger__login {
    @include font-style (600, $fz_12px, $lh_16);
  }

  .login__icon {
    width: 9px;
    height: 9px;
    transform: translateX(0);
  }

  /***************************hero***************************/
  .hero {
    margin-bottom: 50px;
    min-height: 310px;
  }

  .hero__container,
  .hero__content {
    display: flex;
    justify-content: center;
    align-items: center
  }

  .button {
    @include font-style(700, 12px, 16px);
  }

  .hero__content {
    padding-top: 25px;
    flex-direction: column;
  }

  .hero__desc,
  .hero__lead {
    text-align: center
  }

  .hero__desc {
    @include font-style(400, 12px, 16px);
    max-width: 265px;
    margin-bottom: 37px;
  }

  .hero__lead {
    @include font-style(700, 32px, 36px);
    margin-bottom: 14px;
    max-width: 258px;
  }

  .hero__button {
    padding: 11px 16px;
  }
}
