@charset "UTF-8";
.drop-menu {
  position: relative;
}

.drop-menu__list {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-auto-flow: row;
  gap: 20px 104px;
}

.drop-menu__item {
  transform: translateX(-10px);
}

.drop-menu__link {
  color: black;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  padding: 0 5px;
  position: relative;
}
.drop-menu__link::before {
  content: "∟";
  font-family: serif;
  font-size: 12px;
  position: absolute;
  top: 0;
  right: -15px;
  transform: rotate(-45deg) translate(0);
  transition: transform 0.4s;
  color: white;
}

.drop-menu__link_active::before {
  top: 5%;
  transform: rotate(135deg) translate(0);
}

.sub-menu {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  left: 0;
  top: 0;
  transform: translateY(-30%);
  padding: 0 40px;
  box-sizing: content-box;
  background-color: rgba(0, 0, 0, 0.6);
  border-top: 40px solid rgba(0, 0, 0, 0);
  border-bottom: 40px solid rgba(26, 24, 24, 0);
  max-height: 220px;
  min-width: 220px;
  transition-property: transform, opacity, visibility;
  transition-duration: 0.4s;
}

.sub-menu_open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.sub-menu__item {
  max-width: 220px;
}

.sub-menu__item:not(:last-child) {
  margin-bottom: 14px;
}

.sub-menu__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  display: block;
  padding: 9px 12px 12px;
}

.sub-menu__item:nth-child(4n+1) {
  background: url(../img/header/1.webp);
}

.sub-menu__item:nth-child(4n+2) {
  background: url(../img/header/2.webp);
}

.sub-menu__item:nth-child(4n+3) {
  background: url(../img/header/3.webp);
}

.sub-menu__item:nth-child(4n+4) {
  background: url(../img/header/4.webp);
}

[data-simplebar] {
  position: absolute;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%;
  /* Not required for horizontal scroll to trigger */
  max-height: 100%;
  /* Needed for vertical scroll to trigger */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
  content: " ";
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
}

.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: black;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.5;
  transition: opacity 0s linear;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */
[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.slider {
  position: relative;
  user-select: none;
  touch-action: pan-y;
}

.slider img {
  pointer-events: none;
}

.slider__list {
  overflow: hidden;
}

.slider__list.grab {
  cursor: grab;
}

.slider__list.grabbing {
  cursor: grabbing;
}

.slider__arrows {
  margin-top: 15px;
  text-align: center;
}

.slider__next,
.slider__prev {
  background: none;
  border: none;
  margin: 0 10px;
  font-size: 30px;
  cursor: pointer;
}

.slider__next.disabled,
.slider__prev.disabled {
  opacity: 0.25;
  pointer-events: none;
}

.slider_size-hight {
  max-width: 1150px;
}

.slider__list_padding-top {
  padding-top: 83px;
}

.slider__track {
  display: grid;
  grid-auto-flow: column;
}

.slider__track_tempalte-rows {
  grid-template-rows: repeat(2, 1fr);
  row-gap: 50px;
}

.slider__slide_size-middle {
  width: 350px;
  height: 350px;
}

.slider__slide_size-hight {
  max-width: 350px;
  min-height: 512px;
}

.slider__slide_animation::after, .slider__slide_animation::before {
  content: "";
  transition: background 0.4s;
}

.slider__track_flex-container {
  display: flex;
}

.slider__slide_shrink {
  flex-shrink: 0;
}

.slider__arrows {
  width: 130px;
  margin-top: 0;
  display: flex;
  align-items: center;
  position: absolute;
  top: 25px;
  justify-content: space-between;
  z-index: 2;
}

.slider__next,
.slider__prev {
  margin: 0;
  cursor: pointer;
  position: relative;
  z-index: 2;
  width: 30px;
  height: 30px;
  padding: 2px;
}
.slider__next::before,
.slider__prev::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.slider__next svg,
.slider__prev svg {
  border-radius: 100%;
  border: 2px solid transparent;
}

.slider__counter {
  position: absolute;
  top: 25px;
  left: 50px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
}

.popup {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.popup_open .popup-info {
  display: flex;
}

.popup_open .gallery__img {
  width: 400px;
  height: 100%;
}

.popup_open .popup__content {
  transform: translate(0px, 0%);
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup__content {
  background-color: #fff;
  color: black;
  display: flex;
  min-width: 900px;
  min-height: 500px;
  position: relative;
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.popup-info {
  margin: 0 50px;
  max-width: 402px;
  display: none;
  flex-direction: column;
  justify-content: center;
}

.popup-info__text {
  margin-bottom: 40px;
}

.select {
  max-width: 400px;
  position: relative;
}

.select[data-open=true] .select__icon {
  transform: rotate(180deg);
}

.select__header {
  width: 100%;
  position: relative;
  display: flex;
  border: 1px solid #fff;
  cursor: pointer;
  align-items: center;
  border-radius: 6px;
}

.select__current {
  padding: 0px 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
}

.select__icon {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 40px;
  width: 40px;
  text-align: center;
  flex-shrink: 0;
  margin-left: auto;
  transition: transform 0.4s;
}

.select__body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s;
}

.select__content {
  border: 1px solid #fff;
  border-radius: 6px;
  border-top: 0;
}

.select__item {
  display: block;
  width: 100%;
  padding: 8px;
  cursor: pointer;
  text-align: start;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #999999;
}

.select__item:not(:last-child) {
  border-bottom: 1px solid #fff;
}

.select__item:hover,
.select__item:focus,
.select__item:hover:active {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

.select__header:hover,
.select__header:focus,
.select__header:active {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
}

.select__item_hidden {
  display: none;
}

.сatalog_triggers {
  display: flex;
}

.сatalog__item,
.tabs {
  display: none !important;
  height: 100%;
}

.сatalog__item_active,
.tabs_active,
.tabs-france_active,
.tabs-germany_active,
.tabs-italy_active,
.tabs-russia_active,
.tabs-belgium_active {
  display: block !important;
}

.tabs__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333;
  margin-bottom: 15px;
}

.tabs__painter {
  margin-bottom: 30px;
}

.accordion__item {
  overflow: hidden;
}

.accordion {
  width: 100%;
  border-top: 1px solid #CACACA;
}

.accordion__item[data-open=true] .accordion__svg {
  transform: rotate(180deg);
  fill: #9D5CD0;
}
.accordion__item[data-open=true] .accordion__trigger {
  border-color: #7943A4;
}
.accordion__item[data-open=true] .accordion__date {
  color: #7943A4;
}

.accordion__trigger {
  padding: 32px 0;
  position: relative;
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #CACACA;
}

:root {
  --grid-auto-flow: column;
}

.accordion__body {
  font-size: 14px;
  padding: 23px 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 196px));
  grid-template-rows: repeat(9, auto);
  grid-auto-flow: var(--grid-auto-flow);
  grid-auto-columns: minmax(0, 196px);
  column-gap: 55px;
  border-bottom: 1px solid #CACACA;
}

.accordion__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s;
}

.accordion__svg {
  width: 50px;
  height: 50px;
  transition: transform 0.6s;
  fill: #ECECEC;
}

.accordion__body_none {
  display: flex;
  align-items: center;
}
.accordion__body_none svg {
  max-width: 275px;
  max-height: 189px;
  border: 2px solid #B7B7B7;
  padding: 12px;
  margin-right: 25px;
}

.accordion__text {
  margin-bottom: 5px;
  color: #333;
  max-width: 275px;
}

.accordion__text,
.accordion__link,
.accrodion-gallery,
.tabs__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.accrodion-gallery,
.tabs__link {
  color: #9D5CD0;
}

.accordion__date {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333;
}

.tooltip__content {
  position: fixed;
  padding: 8px 11px 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  color: #fff;
  background: #9D5CD0;
  z-index: 10;
  max-width: 264px;
  text-align: center;
}

.tooltip__trigger {
  position: relative;
  z-index: 10;
  width: 16px;
  height: 16px;
  transform: translateY(-8px);
}

.tooltip__icon {
  position: absolute;
  z-index: 1;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  stroke: #000;
  fill: #fff;
}

html {
  box-sizing: border-box;
}

*, h1, h2, h3, h4, h5, h6,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
}

body,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Open sans";
}

img {
  max-width: 100%;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1630px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
}

@font-face {
  font-family: "Open sans";
  src: url("../fonts/opensans.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Open sans";
  src: url("../fonts/opensansbold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Open sans";
  src: url("../fonts/opensanssemibold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Open sans";
  src: url("../fonts/opensansitalic.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
.header__navigation {
  background-color: #000;
  padding: 28px 0;
}

.navigation__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.menu__link {
  padding: 0 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}

.menu__item_margin-right:not(:last-child) {
  margin-right: 52px;
}

.menu {
  display: grid;
  grid-auto-flow: row;
}

.menu_template-column {
  grid-template-columns: repeat(7, auto);
}

.menu_margin-right {
  margin-right: 105px;
}

.login {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}

.login__icon {
  fill: #fff;
  transform: translateX(-3px);
}

.search-form__icon_size-small {
  width: 22px;
  height: 20px;
}

.overlay {
  background: #00000066;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.overlay__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0 23px;
}

.simplebar-scrollbar:before {
  background: #fff;
  border-radius: 0px;
  left: 0;
  right: 0;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
}

.simplebar-track.simplebar-vertical {
  width: 2px;
  height: 220px;
}

.simplebar-wrapper {
  height: 220px;
}

.simplebar-track {
  background-color: #000;
  right: 10px;
}

.search-form {
  display: flex;
  flex-direction: row-reverse;
}

.overlay__search-form {
  transform: translate(-3px, 4px);
}

.search-form__label {
  position: relative;
}
.search-form__label::before {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
}

.overlay__container {
  overflow: visible;
}

.search-form__icon {
  fill: #fff;
  margin-right: 10px;
}

.search-form__input_min-width {
  min-width: 218px;
}

.search-form__input_placegolder::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}

.search-form__input_background-inherit {
  background: inherit;
}

.search-form__input {
  color: #fff;
}

.navigation__burger-icon,
.navigation__search-form,
.navigation__search-open {
  display: none;
}

.hero {
  z-index: 1;
  position: relative;
  margin-bottom: 80px;
  min-height: 700px;
  max-width: 100vw;
  overflow: hidden;
  background-color: #000;
}

.hero__slider {
  position: absolute;
  z-index: 1;
  height: 100%;
  animation: heroAnimation 2s infinite alternate;
}

.hero__track {
  transition: transform 0.5s;
  height: 100%;
  display: flex;
}

.hero__content {
  padding-top: 133px;
  z-index: 2;
  position: relative;
  transform: translateY(10px);
}

.hero__slide {
  flex-shrink: 0;
  height: 100%;
  width: 100%;
}

@keyframes heroAnimation {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
.hero__img {
  pointer-events: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__lead {
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
  color: #fff;
  max-width: 597px;
  margin-bottom: 20px;
}

.hero__desc {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  max-width: 579px;
  margin-bottom: 85px;
}

.button {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  border: 2px solid #9D5CD0;
  border-radius: 100px;
}

.hero__button {
  display: inline-block;
  padding: 22.5px 35px;
  background-color: #9D5CD0;
  margin-bottom: 50px;
}
.hero__button::before {
  content: "";
  transition: transform 0.4s;
}

.about {
  margin-bottom: 70px;
}

.title {
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #000;
}

.title_margin-bottom {
  margin-bottom: 18px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000;
}

.about__text {
  max-width: 1080px;
}

.gallery {
  background: #000 url(../img/gallery/background.webp) no-repeat;
  background-size: cover;
  margin-bottom: 80px;
  padding: 80px 0;
}

.gallery__grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  align-items: end;
  column-gap: 50px;
}

.gallery__item:first-child {
  align-self: start;
}

.gallery__item_slider {
  align-self: start;
  grid-row: 1/3;
  grid-column: 2/3;
}

.gallery__item:last-child {
  transform: translateY(10px);
}

.gallery__text {
  max-width: 380px;
}

.gallery__text_margin-bottom {
  margin-bottom: 5px;
}

.gallery__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #9D5CD0;
}

.gallery__title,
.gallery__text {
  color: white;
}

.popup {
  display: none;
}

.gallery__list {
  position: relative;
}

.gallery__slide {
  display: block;
  position: relative;
}

.gallery__img {
  object-fit: cover;
}

.gallery__slide:not(:nth-child(odd)) {
  margin-right: 50px;
}

.gallery__slide:nth-child(6n) {
  margin-right: 0;
}

.date {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #666;
}

.gallery__slider {
  max-width: 1150px;
}

.сatalog {
  margin-bottom: 80px;
}

.сatalog__title {
  display: inline;
  margin-right: 28px;
}

.сatalog__triggers {
  display: inline-flex !important;
  transform: translateY(8px);
  margin-bottom: 30px;
}
.сatalog__triggers img {
  pointer-events: none;
}

.сatalog__trigger {
  position: relative;
  width: 46px;
  height: 46px;
}
.сatalog__trigger img {
  position: absolute;
}
.сatalog__trigger::after {
  content: "";
  position: absolute;
  top: 0;
  left: -2%;
  width: 105%;
  height: 100%;
  border: 2px solid #7943A4;
  border-radius: 100%;
  transform: scale(1);
  opacity: 0;
  transition: transform 0.3s;
}

.сatalog__trigger_active::after {
  opacity: 1;
  transform: scale(1.4);
}

.сatalog__trigger:not(:last-child) {
  margin-right: 50px;
}

.сatalog__txt {
  margin-bottom: 38px;
  max-width: 1080px;
}

.country__content {
  display: grid;
  grid-template-columns: minmax(0, 750px) minmax(0, 800px);
  grid-template-rows: auto;
  column-gap: 50px;
}

.сatalog__item_active {
  position: relative;
}
.сatalog__item_active::after {
  opacity: 1;
  transform: scale(1.4);
}

.subtitle,
.accordion__desc {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333;
}

.tabs__subtitle,
.accordion__desc {
  margin-bottom: 7px;
}

.date_margin-bottom {
  margin-bottom: 10px;
}

.developments {
  margin-bottom: 80px;
}

.developments__title {
  margin-bottom: 15px;
}

.developments__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  align-items: stretch;
}

.developments__body {
  outline: 1px solid #CACACA;
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  transition-property: min-height, max-height, opacity;
  transition-duration: 0.6s;
}

.developments__content {
  flex-grow: 2;
  padding: 11px 20px 43px 50px;
  display: flex;
  flex-direction: column;
}

.developments__subtitle {
  margin-bottom: 4px;
}

.developments__text {
  color: #333;
  flex-grow: 2;
}

.developments__link {
  color: #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
  align-self: flex-start;
}

.developments__points {
  display: none;
}

.developments__button {
  display: block;
  color: #9D5CD0;
  padding: 15px 35px;
  margin: 0 auto;
  transition: opacity 0.6s;
  transform: translateY(-4px);
}

.developments__date {
  text-align: end;
  margin-bottom: 5px;
}

.checkbox-menu__icon_hidden {
  display: none;
}

.editions {
  background: #000 url(../img/editions/background.webp) no-repeat;
  background-size: cover;
  margin-bottom: 80px;
}

.editions__grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, auto);
  align-items: end;
  gap: 29px 50px;
  padding: 80px 0;
}

.editions__item:first-child {
  align-self: start;
}

.checkbox-menu__current {
  font-weight: 700;
}

.editions__item_slider {
  align-self: flex-start;
  grid-row: 1/3;
  grid-column: 2/3;
}

.editions__title,
.editions__subtitle,
.checkbox-menu__label,
.editions__label_color,
.checkbox-menu__current {
  color: #fff;
}

.editions__title {
  margin-bottom: 15px;
}

.editions__subtitle {
  font-weight: 700;
  margin-bottom: 5px;
}

.checkbox-menu__form {
  display: flex;
  flex-direction: column;
}

.checkbox-menu__label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  transition: color 0.3s;
}

.checkbox-menu__input {
  display: none;
}

.checkbox-menu__span {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 10px;
  left: 0;
  border: 1px solid #fff;
}

.checkbox-menu__span::before {
  content: ".";
  position: absolute;
  left: 1px;
  bottom: -2px;
  color: #C283F3;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 30px;
}

.checkbox-menu__form input[type=checkbox]:checked + span::before,
.checkbox-menu__form input[type=checkbox]:checked + span {
  opacity: 1;
  border-color: #C283F3;
}

.checkbox-menu__label_active {
  color: #C283F3;
}

.editions__prices {
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 0 10px;
  max-width: 277px;
}

.editions__price {
  max-width: 73px;
  background-color: #9D5CD080;
  padding: 10px 3px 10px 10px;
  margin: 0 5px;
  color: #fff;
}

.editions__img {
  margin-bottom: 23px;
}

.editions__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.editions__text_weight {
  font-weight: 700 !important;
  display: block;
}

.editions__slide {
  display: flex;
  flex-direction: column;
}

.editions__name {
  display: flex;
  justify-content: space-between;
  flex-grow: 2;
  height: 100%;
}

.editions__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  align-self: flex-start;
  padding: 8px 20px;
  transform: translateX(1px);
}

.editions__slide:not(:nth-child(3n)) {
  margin-right: 50.5px;
}

.editions__text_margin-bottom {
  margin-bottom: 20px;
}

.editions__list {
  transform: translateY(7px);
}

.editions__arrows,
.editions__counter {
  top: 30px;
}

.editions__slider {
  width: 1151px;
}

.contacts__content {
  border-top: 1px solid #CACACA;
  position: relative;
}

.contacts__grid {
  display: flex;
  min-height: 700px;
}

.contacts__item:first-child {
  align-self: center;
  max-width: 400px;
}

.map {
  position: absolute;
  right: 0;
  max-width: 1200px;
}

.address {
  font-style: normal;
  margin-bottom: 32px;
}

.contacts__subtitle,
.address__subtitle {
  margin-bottom: 0px;
}

.contacts__subtitle_weight {
  font-weight: 400;
}

.contacts__subtitle_margin {
  margin-bottom: 20px;
}

.contacts__form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.contacts__svg {
  width: 40px;
  height: 40px;
}

.contacts__button {
  align-self: flex-start;
  padding: 15px 33px;
  color: #9D5CD0;
}

.contacts__input {
  border: 1px solid #333333;
  border-radius: 100px;
  padding: 10px 24px;
  margin-bottom: 23px;
  min-width: 400px;
}

.contacts__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #999;
}

.address_media {
  display: none;
}

[class*=-ground-pane] {
  filter: grayscale(100%);
}

[class*=ymaps-2-1-79-copyright] {
  display: none;
}

.contacts__label {
  position: relative;
}

.js-validate-error-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #D11616;
  position: absolute;
  left: 10px;
  top: -25%;
  z-index: 10;
  font-size: 10px;
  transition: all 0.4s linear;
}

.ymaps-2-1-79-controls__control {
  inset: 45px auto auto 10px !important;
}

.socials {
  display: flex;
}

.socials__item:not(:last-child) {
  margin-right: 20px;
}

.footer {
  background-color: #000;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 46px 0;
}

.footer__svg {
  fill: #CACACA;
  width: 45px;
  height: 45px;
}

.project {
  margin-bottom: 75px;
}

.project__title {
  margin-bottom: 16px;
}

.project__text {
  max-width: 1080px;
  margin-bottom: 20px;
}

.project__link {
  color: #9D5CD0;
}

.project__img {
  opacity: 0.5;
  filter: grayscale(100%);
}

.project__slider {
  position: relative;
  max-width: 100%;
}

.project__list {
  max-width: 1450px;
  margin: 0 auto;
}

.project__track {
  display: flex;
  flex-wrap: nowrap;
}

.project__slide {
  flex-shrink: 0;
}

.project__slide:not(:nth-child(3n)) {
  margin-right: 50px;
}

.project__arrows {
  position: absolute;
  width: 100%;
  top: 40%;
}

.project__subtitle {
  margin-bottom: 23px;
}

.project__tooltip {
  position: relative;
  display: inline-block;
  transform: translateY(8px);
}

.project__prev,
.project__next {
  position: absolute;
}
.project__prev svg,
.project__next svg {
  fill: #ECECEC;
}

.project__prev {
  left: 0;
}

.project__next {
  right: 0;
}

@media (min-width: 768px) {
  .search-form:hover .search-form__label::before,
.search-form__label:focus .search-form__label::before {
    border-color: #C283F3;
  }

  .search-form:focus .search-form__label::before {
    border-color: #7943A4;
  }

  .sub-menu__link {
    border: 2px solid transparent;
  }

  .sub-menu__link:hover,
.sub-menu__link:focus {
    border: 2px solid #C283F3;
  }

  .popup__close:hover svg,
.popup__close:focus svg {
    fill: #C283F3;
  }

  .menu__link:hover,
.drop-menu__link:hover,
.gallery__link:hover {
    color: #C283F3;
  }
  .menu__link:focus,
.drop-menu__link:focus,
.gallery__link:focus {
    color: #fff;
  }

  .drop-menu__link:hover::before {
    color: #9D5CD0;
  }

  .menu__link:focus {
    background-color: #7943A4;
  }

  .drop-menu__link:focus::after {
    content: "";
    position: absolute;
    top: 0;
    right: -25px;
    width: calc(100% + 25px);
    height: 95%;
    background-color: #7943A4;
    z-index: -1;
  }

  .navigation__login:focus {
    color: #fff;
    position: relative;
    z-index: 1;
  }
  .navigation__login:focus::after {
    content: "";
    position: absolute;
    top: 0;
    left: -12px;
    width: 130%;
    height: 100%;
    background-color: #7943A4;
  }
  .navigation__login:focus span {
    position: relative;
    z-index: 2;
  }
  .navigation__login:focus .login__icon {
    position: relative;
    z-index: 2;
    fill: #fff;
  }

  .login:hover {
    color: #C283F3;
  }
  .login:hover .login__icon {
    fill: #C283F3;
  }

  .hero__button:hover {
    border: 2px solid #C283F3;
  }

  .hero__button::before,
.contacts__button::before,
.developments__button::before {
    content: "";
    transition: transform 0.4s;
  }

  .hero__button:focus,
.contacts__button:focus,
.developments__button:focus {
    position: relative;
  }
  .hero__button:focus::before,
.contacts__button:focus::before,
.developments__button:focus::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #7943A4;
    border-radius: 100px;
    transform: scale(1.05, 1.2);
  }

  .developments__button:focus::before {
    transform: scale(1.06, 1.2);
  }

  .contacts__button:focus::before {
    transform: scale(1.08, 1.2);
  }

  .slider__next:hover svg,
.slider__prev:hover svg {
    fill: #9D5CD0;
  }

  .slider__next:focus svg,
.slider__prev:focus svg {
    border: 2px solid #000;
  }

  .gallery__slide {
    border: 2px solid transparent;
  }

  .gallery__slide:hover {
    border: 2px solid #7943A4;
  }

  .gallery__slide:focus {
    border: 2px solid #7943A4;
  }

  .gallery__slide:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: rgba(0, 0, 0, 0.5) url(../img/gallery/Group\ 12.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 25px;
    cursor: pointer;
    z-index: 2;
  }

  .сatalog__trigger:focus,
.сatalog__trigger:hover {
    border-radius: 100%;
    box-shadow: 0px 0px 20px 0px #9D5CD0B2;
  }

  .accordion__item:hover .accordion__date,
.accordion__trigger:focus .accordion__date {
    color: #9D5CD0;
  }
  .accordion__item:hover .accordion__svg,
.accordion__trigger:focus .accordion__svg {
    fill: #D1A9F0;
  }
  .accordion__item:hover .accordion__trigger,
.accordion__trigger:focus .accordion__trigger {
    border-color: #9D5CD0;
  }

  .accordion__trigger:focus .accordion__date {
    color: #fff;
    background-color: #9D5CD0;
  }

  .accordion__link:hover,
.tabs__link:hover,
.project__link:hover,
.accrodion-gallery:hover {
    border-bottom: 1px solid #9D5CD0;
    color: #9D5CD0;
  }

  .developments__button:hover,
.editions__button:hover,
.contacts__button:hover,
.project__link:focus,
.accrodion-gallery:focus,
.accordion__link:focus,
.tabs__link:focus,
.burger__login:focus {
    background-color: #9D5CD0;
    color: #fff;
  }

  .checkbox-menu__label:hover,
.checkbox-menu__label:focus {
    color: #C283F3;
  }
  .checkbox-menu__label:hover .checkbox-menu__span,
.checkbox-menu__label:focus .checkbox-menu__span {
    border: 1px solid #C283F3;
  }

  .editions__button:focus {
    border: 2px solid #fff;
  }

  .editions__price:hover,
.editions__price:focus {
    background: #9D5CD0;
  }

  .contacts__input:hover,
.contacts__input:focus {
    background: #EAEAEA;
  }

  .contacts__link:hover .contacts__svg,
.contacts__link:focus .contacts__svg {
    opacity: 0.5;
  }

  .footer__link:hover .footer__svg,
.footer__link:focus .footer__svg {
    fill: #fff;
  }

  .tooltip__trigger:hover + .tooltip__icon,
.tooltip__trigger:focus + .tooltip__icon {
    fill: #D1A9F0;
  }

  .developments__link:focus {
    position: relative;
    border-color: #fff;
    color: #fff;
  }
  .developments__link:focus::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    background-color: #9D5CD0;
  }

  .developments__link:hover,
.burger__login:hover {
    border-color: #7943A4;
    color: #7943A4;
  }

  .search-form__close-btn:focus svg,
.search-form__close-btn:hover svg,
.burger__close:focus svg,
.navigation__search-open:focus svg,
.search-form__button:focus svg,
.burger-icon:focus svg,
.navigation__search-open:hover svg,
.search-form__button:hover svg,
.burger-icon:hover svg,
.burger__close:hover svg,
.overlay__button:hover svg,
.overlay__button:focus svg {
    fill: #9D5CD0;
  }

  .gallery__link:focus {
    color: #7943A4;
    border-bottom: 1px solid #7943A4;
  }

  .project__slide:hover .project__img,
.project__slide:focus .project__img {
    opacity: 1;
    filter: grayscale(0%);
  }

  .project__prev:focus svg,
.project__next:focus svg {
    border: 2px solid #9D5CD0;
  }
  .project__prev:hover svg,
.project__next:hover svg {
    fill: #D1A9F0;
  }
}
@media (max-width: 768px) {
  .project__prev:active svg,
.project__next:active svg {
    border: 2px solid #9D5CD0;
    fill: #D1A9F0;
  }

  .gallery__link:active {
    color: #C283F3;
  }

  .login:active {
    color: #fff;
  }
  .login:active .login__icon {
    fill: #fff;
  }

  .hero__button:active {
    border: 2px solid #7943A4;
  }

  .slider__next:active svg,
.slider__prev:active svg {
    border: 2px solid #000;
    fill: #9D5CD0;
  }

  .gallery__slide:active::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #C283F366;
    z-index: 1;
  }

  .сatalog__trigger:active {
    border-radius: 100%;
    border: 2px solid #7943A4;
  }

  .hero__button:active,
.editions__button:active,
.contacts__button:active {
    background-color: #7943A4;
    border-color: #D1A9F0;
  }

  .accordion__trigger:active .accordion__date {
    color: #7943A4;
  }
  .accordion__trigger:active .accordion__svg {
    fill: #D1A9F0;
    border: 2px solid #9D5CD0;
    border-radius: 100%;
  }
  .accordion__trigger:active .accordion__trigger {
    border-color: #9D5CD0;
  }

  .accordion__link:active {
    color: #9D5CD0;
  }

  .accordion__link:active,
.accrodion-gallery:active,
.project__link:active,
.tabs__link:active {
    color: #7943A4;
  }

  .developments__button:active {
    border: 2px solid #fff;
  }

  .contacts__button:active {
    border: 2px solid #fff;
  }

  .editions__price:active {
    background: #7943A4;
  }

  .contacts__link:active .contacts__svg {
    border: 1px solid #9D5CD0;
    border-radius: 100%;
  }

  .footer__link:active .footer__svg {
    fill: #9D5CD0;
  }

  .tooltip__trigger:active + .tooltip__icon {
    fill: #9D5CD0;
    stroke: #fff;
  }

  .developments__link:active {
    border-color: #000;
    color: #000;
  }

  .overlay__search-form:active {
    border-color: #7943A4;
  }

  .search-form__close-btn:active svg,
.burger__close:active svg,
.navigation__search-open:active svg,
.search-form__button:active svg,
.burger-icon:active svg,
.overlay__button:active svg,
.popup__close:active svg {
    fill: #9D5CD0;
  }

  .burger__login:active {
    background-color: #7943A4;
    border-color: #fff;
  }

  .sub-menu__link:active::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #C283F3;
  }

  .sub-menu__link:active::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    background-color: #C283F366;
    z-index: -1;
  }

  .menu__link:active,
.drop-menu__link:active {
    color: #7943A4;
  }

  .drop-menu__link:active::before {
    color: #7943A4;
  }

  .project__slide:active .project__img {
    opacity: 1;
    filter: grayscale(0%);
  }
}