.navigation {
  background-color: #000;
  position: relative;
}

.navigation_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 29px 0 28px;
}

.navigation_logo {
  margin-right: 19px;
}

.menu_list,
.navigation_search {
  display: flex;
}

.navigation_list {
  margin-right: 139px;
}

.navigation_item:not(:last-child) {
  margin-right: 62px;
}

.login {
  position: relative;
}
.login_icon {
  fill: white;
  position: absolute;
  left: -35%;
  top: 0;
}

.overlay {
  width: 100%;
  right: 0;
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
}

.overlay_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 0 23px;
}

.overlay_search {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.overlay_item:not(:last-child) {
  margin-right: 113px;
}

.hero {
  position: relative;
  margin-bottom: 80px;
}

.hero_content {
  position: absolute;
  top: 140px;
}