.footer {
    background-color: $color_black;
}

.footer_content,
.socials_list {
    display: flex;
}

.footer_content {
    justify-content: space-between;
    align-items: center;
    padding: 46px 0;
}

.socials_item:not(:last-child) {
    margin-right: 20px;
}

.socials_svg {
    width: 45px;
    height: 45px;
}