.lead {
    @include font-style(700, 72px, 83px);
    max-width: 597px;
    margin-bottom: 20px;
}

.hero_desc {
    @include font-style(700, 18px, 30px);
    max-width: 579px;
    margin-bottom: 85px;
}

.btn {
    @include font-style(700, 18px, 25px);
    border: 2px solid $color_9D5CD0;
    border-radius: 100px;
}

.hero_btn {
    display: inline-block;
    background-color: $color_9D5CD0;
    padding: 22.5px 35px;
    margin-bottom: 20px;
    &::before{
        content:'';
        transition: transform .4s;
    }
}